body{
    --roz-deschis:#B5508E;
    --verde-deschis:#5AA054;
    --caramiziu:#755167;
    --roz:#D05EDD;
    --portocaliu:#E48E3E;

}

/* p{
    color:var(--roz);
}

h2{
    border:2px solid var(--roz-deschis);
} */