<div style="display: none;" id="banner-container">
    <div id="banner">Acesta este un proiect scolar!<button id ="ok_cookies"></button></div>
</div>
<div class="contact-info">
    <h3>Informații de Contact</h3>
    <p><strong>Telefon:</strong> 0721 234 567</p>
    <p><strong>Adresă:</strong> Strada Florilor nr. 10, București
        <a href="https://www.google.com/maps/search/?api=1&query=Facultatea+de+Matematica+si+Informatica">Facultatea
de Matematică și Informatică</a></p>

    <p><strong><i class="fa-solid fa-envelope"></i> Email:</strong> <a href="mailto:contact@example.com">contact@example.com</a></p>
</div>
<a href="#" title="mergi sus" id="link-top">
    <div id="sageata">&#129081;</div>
</a>
