<div id="background-meniu">
    <label id="hamburger" for="ch-menu">
        <img src="/Resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-menu" type="checkbox">
    <nav>
        <ul class="meniu">
            <li>
                <span id="acasa-umbra">Acasa</span>
                <div id="acasa"><span id="acasa-text">Acasa</span><span id="acasa-mediu"><i class="fas fa-regular fa-house"></i></span></div>
                <ul>
                    <li><a href="/index/#welcome ">Bine ati venit</a></li>
                    <li><a href="/index/#toproduse ">Produse favorite</a></li>
                    <li><a href="/index/#promotii ">Promotii</a></li>
                </ul>
            </li>
            <li>
                <span>Despre</span>
                <a href="/despre">Despre</a>
            </li>
            <li>
                <span>Buchete de flori</span>
                <a href="">Buchete de flori</a>
                <ul>
                    <li><a href="# ">Lalele</a></li>
                    <li><a href="# ">Trandafiri</a></li>
                    <li><a href="# ">Zambile</a></li>
                    <li><a href="# ">Frezii</a></li>
                    <li><a href="# ">Mixte</a></li>
                </ul>
            </li>
            <li>
                <span>Aranjamente florale</span>
                <a href="">Aranjamente florale</a>
                <ul>
                    <li><a href="# ">Aranjamente în cutie</a></li>
                    <li><a href="# ">Aranjamente în coș</a></li>
                    <li><a href="# ">Aranjamente statice</a></li>
                </ul>
            </li>
            <li>
                <span>Evenimente</span>
                <a href="">Evenimente</a>
                <ul>
                    <li><a href="# ">Onomastică</a></li>
                    <li><a href="# ">Nuntă</a></li>
                    <li><a href="# ">Botez</a></li>
                </ul>
            </li>
            <li>
                <span>Trandafiri criogenați</span>
                <a href="">Trandafiri criogenați</a>
                <ul>
                    <li><a href="# ">Trandafiri în cupolă</a></li>
                    <li><a href="# ">Trandafiri în cutie</a></li>
                </ul>
            </li>
            <li>
                <span>Galerie</span>
                <a href="/galerie">Galerie</a>
            </li>
        </ul>
    </nav>
</div>

<h1 style="display: none;">Ritmuri Florale</h1>
<div class="watermark" style="display: none;">Chirac Raluca-Roxana</div>